{% load staticfiles %}
doctype html
html(lang='en')
    head
        title Combatives Or Nah?
        link(rel='stylesheet', href='{% static "css/global.css" %}', type='text/css')
    body(bgcolor="#E6E6FA" style='margin-top:10px;margin-left:150px;margin-right:150px;')
        h3 Combatives Or Nah?
        center
            br
            br
            h3 Could not access schedule at this time. Please refresh or try again in 5 minutes.

