{% load staticfiles %}
doctype html
html(lang='en')
    head
        title Combatives Or Nah?
        link(rel='stylesheet', href='{% static "css/global.css" %}', type='text/css')
    body
        #container
            center
                h1 Could not access schedule at this time.
                br
                br
                h1 Please refresh or try again in 5 minutes.
                #load




